.text-in-logo {
  color: black !important;
}

.nav-items a {
  color: black !important;
}
.bi-list,
.bi-x {
  color: black;
  font-size: 30px;
}

.section__hero {
  background-color: rgb(255, 137, 2);
  height: 15vh;
}
.hero__text {
  text-align: center;

  margin-top: 10vh;
}
.logic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* background-color: #f0f0f0; */
}
.carousel-container {
  width: 80%;
  max-width: 770px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.card img {
  max-width: 80%;
  height: auto;
}

.card p {
  margin-top: 10px;
}

/* Navigation buttons (optional) */
.carousel-container .prev,
.carousel-container .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.carousel-container .prev:hover,
.carousel-container .next:hover {
  background-color: #ffffff;
}

.carousel-container .prev {
  left: 0;
}

.carousel-container .next {
  right: 0;
}
