.text-in-logo {
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.bi-list,
.bi-x {
  color: white;
  font-size: 30px;
}

.section__hero {
  background: linear-gradient(65deg, #231d95 31.84%, #56547f 68.16%), #ffffff;
  position: relative;
  height: 40vh;
}

.section__hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50vh;
  right: 0;
  left: 0;
  background-color: red;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
}

.section__hero::after {
  content: "";
  position: absolute;
  top: 50vh;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #231d95;
  transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.hero__logo img {
  width: 100%;
  height: auto;
}

.hero__text {
  text-align: center;
  margin-top: 10vh;
}
.about-head {
  display: flex;
  flex-direction: column;
  padding: 10vh 10rem;
  color: white;
}
h1 {
  font-size: 3rem;
  color: white;
  margin: 2px;
  text-transform: capitalize;
  font-size: 2rem;
}

.logic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.carousel-container {
  width: 80%;
  max-width: 770px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  /* border: 2px solid red; */
}

.card {
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 80%;
  height: auto;
}

.card p {
  margin-top: 10px;
}

/* Navigation buttons (optional) */
.carousel-container .prev,
.carousel-container .next {
  cursor: pointer;
  top: 50%;
  padding: 10px;
  background-color: white;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  /* transition: background-color 0.3s ease; */
}

@media (max-width: 768px) {
}
