@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Removing default styles of the browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.section__hero {
  background-image: radial-gradient(
      130% 100% at top left,
      transparent 92%,
      #f4fefe 92.5%
    ),
    linear-gradient(135deg, #79c4b6 0%, #3fcfa2 100%);
  /* }
  background-image: radial-gradient(
    at top left,
    #d6c6bf 30%,
    #3a33c5 31.84%,
    transparent 90.5%
  ); */
  background-size: 140% 90%;
  background-repeat: no-repeat;
  /* background: linear-gradient(65deg, #5650bb 31.84%, #56547f 68.16%), #ffffff; */
  /* border-bottom-left-radius: 0% 0;
  border-bottom-right-radius: 0% 0%; */
  height: 30vh;
  width: 100%;
}
.navbar {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
}
.navbar a:hover {
  text-decoration: underline;
}

.navbar a {
  text-decoration: none;
  color: black;
}
/*
.bi-list,
.bi-x {
  color: #01ff2f;
  font-size: 30px;
} */

.project-logo {
  width: 40px;
}

.logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.responsive-image {
  width: 100%;
  border-radius: 2px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.section__two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  align-items: inline-start;
  padding: 20px 30px;
  gap: 30px;
}
.section__two--right img {
  box-shadow: 6px 6px 6px rgba(20, 57, 22, 0.3);
}
.section__two--left button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.involved__block--right {
  font-size: 14px;
  line-height: 1.5rem;

  p {
    padding: auto;
    margin-bottom: 20px;
  }
}

button {
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.blue-button {
  border: 1px solid #374f69;
  background-color: transparent;
  color: #374f69;
  margin: 10px;
  border-radius: 2px;
}

.green-button {
  border: none;
  background-color: #3fa752;
  color: white;
  border-radius: 4px;
}
.button_href {
  border: 1px solid rgb(21, 176, 137);
  padding: 8px 12px;
  margin: 2px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 14px;
}
.button_href:hover {
  border: 1px solid rgb(210, 11, 44);
  color: rgb(174, 22, 47);
}

hr {
  margin: 25px 0;
}

.involved__block--right {
  padding-bottom: 20px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials-copyright {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #284290;
  color: white;
  padding: 30px 0;
}

.footer__navbar {
  display: flex;
  justify-content: space-between;
}

.footer__navbar--options {
  display: flex;
  align-items: center;
  gap: 15px;
}

address {
  font-weight: 300;
  margin: 30px 0;
  font-size: 16px;
  font-style: normal;
}

.footer__navbar--options a {
  text-decoration: none;
  color: white;
}

/**
* ! Style rules for the navbar are here
**/

.navbar__icons {
  display: none;
}

.options {
  display: flex;
  gap: 20px;
  text-transform: capitalize;
}

.hide {
  display: none;
}

@media (max-width: 1680px) {
  .container {
    max-width: 1200px;
  }
  .section__hero {
    padding-top: 4px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 950px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 890px;
    padding: 10px 20px !important;
  }
}

@media (max-width: 768px) {
  .options {
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 90%;
    top: 100px;
    right: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .options a {
    color: white;
  }

  .navbar__icons {
    display: block !important;
    font-size: 30px;
  }

  .hidden {
    z-index: -1;
    opacity: 0;
  }
}
@media (max-width: 799px) {
  .section__two {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
