#logo__expo {
  color: #000;
}

.nav-items a {
  text-decoration: none;
  color: black;
}
.section__two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 50px 0px;
  gap: 25px;
}

.section__two--left h1 {
  font-weight: 600;
  font-size: 35px;
  color: #374f69;
}

.section__two--left p {
  padding-top: 5px;
  font-weight: 300;
  font-size: 17px;
}

.section__two--left button {
  border: 2px solid #6d92b6;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 15px;
  background-color: #fff;
}
