.text-in-logo {
  color: black !important;
}

.nav-items a {
  color: black !important;
}

/* section {
  padding: 30px 0;
} */

.hero_section_text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 0;
  align-items: center;
  gap: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bi-list,
.bi-x {
  color: black;
  font-size: 25px;
}
.blue-button {
  padding: 8px 18px !important;
}
@media (max-width: 981px) {
  .hero_section_text {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .for__kids {
    grid-template-columns: repeat(1, 1fr);
  }
}
