.navbar a {
  color: black !important;
}
.logo-text {
  color: black !important;
}

.section__hero {
  background-image: url("../images/science-2799817-min\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  background-position: center;
}

.hero_section_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 10px 10px; */
  justify-content: center;
  margin-top: 50px;
}

/* Content */

.content__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding: 10px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 1px 0px 2px 1px #088fd380;
}

.support,
.volunteer,
.internship {
  border: 1px solid #088fd380;
  border-radius: 6px;
  width: 300px;
  padding-bottom: 10px;
  margin: 10px auto;
}

.support_text,
.volunteer_text,
.internship_text {
  width: 275px;
  padding: 4px;
  margin: 0 auto;
}

/* Support */
.img {
  border-radius: 6px 6px 0px 0px;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 150px;
}

.support_img {
  background-image: url(../images/andrew-ruiz-348421.jpg);
}

/* Volunteer */

.volunteer_img {
  background-image: url(../images/mavis-cw-164128.jpg);
}

/* Internship */

.internship_img {
  background-image: url(../images/scott-webb-102825.jpg);
}

.internship span {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 980px) {
  .content__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}
@media (max-width: 580px) {
  .content__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }
  .support,
  .volunteer,
  .internship {
    background-color: #fff;
    border-radius: 6px;
    width: 370px;
    padding-bottom: 2px;
    margin: 1px auto;
  }
}
