.section__hero {
  background-image: url("../images/mammoth-image-dark-filter.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-position: center;
}

.hero_section_text {
  text-align: center;
  color: rgb(0, 0, 0);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  justify-content: center;
  align-items: center;
}
h1,
h2 {
  display: flex;
  font-size: 1.5em;
  /* background-color: rgba(255, 255, 255, 0.25); */
  padding: 2px 0px;
  margin: 0px;
}

/* Content */

.content__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(63, 166, 82, 0.25);
  padding: 10px;
}
.support:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.support,
.volunteer,
.internship {
  background-color: #fff;
  border-radius: 6px;
  width: 320px;
  padding-bottom: 10px;
  margin: 10px auto;
}

.support_text,
.volunteer_text,
.internship_text {
  width: 280px;
  padding: 1px;
  margin: 0px auto;
}

/* Support */
.img {
  border-radius: 6px 6px 0px 0px;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 150px;
}

.support_img {
  background-image: url(../images/andrew-ruiz-348421.jpg);
}

/* Volunteer */

.volunteer_img {
  background-image: url(../images/mavis-cw-164128.jpg);
}

/* Internship */

.internship_img {
  background-image: url(../images/scott-webb-102825.jpg);
}

.internship span {
  font-weight: bold;
}
@media (max-width: 980px) {
  .content__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
@media (max-width: 580px) {
  .content__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .support,
  .volunteer,
  .internship {
    background-color: #fff;
    border-radius: 6px;
    width: 370px;
    padding-bottom: 2px;
    margin: 1px auto;
  }
}
