.section__hero {
  background-image: url("../images/exhibition_main.png");
  /* background-image: url("../images/mammoth-image-dark-filter.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-position: center left;
}

.hero_section_text {
  text-align: center;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.blue-button {
  font-size: 16px !important;
}

.hero_section_title {
  font-size: 35px;
  /* margin: 25px 0; */
  font-weight: 700;
}

.hero_section_button {
  border: 1px solid #1eff00;
  background-color: transparent;
  border-radius: 25px;
  padding: 9px 25px;
  color: white;
  font-size: 16px;
  /* font-weight: 500; */
  cursor: pointer;
}
.hero_section_button:hover {
  border: 1px solid #ff031c;
}
.blue-button:hover {
  border: 1px solid #9f2321;
  color: #9f2321;
}
.section__two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10px 0px;
  gap: 25px;
}

.section__two--left h2 {
  margin-top: -50px;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}

.responsive-image {
  height: 350px;
  width: 100%;
}

.exhibition-image {
  margin-bottom: 20px;
}

.section__two--left p {
  font-weight: 300;
  font-size: 16px;
}

.exhibition__block {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}
.exhibition__block--right {
  font-size: 14px;
  font-weight: 400;
}
.exhibition__block--left {
  flex-grow: 1;
}

.involved__block--right {
  margin: 6px;
  font-size: 16px !important;
}
.involved__block--left {
  flex-grow: 1;
}
h1 {
  font-size: 30px;
}
ol li {
  margin: 10px 0 0 20px;
  font-size: 14px;
}
.date {
  border: 1px solid #4a4949;
  text-align: center;
  border-radius: 20px;
  width: 110px;
  padding: 6px 8px;
  /* margin: 0px auto; */
  font-size: 8px;
}

/* css styling in cousel */

@media (max-width: 980px) {
  .section__two {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__two--left h1 {
    font-size: 30px;
  }

  .section__two--left p {
    font-size: 15px;
  }

  .section__two--left button {
    font-size: 16px;
  }

  .exhibition__block {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 580px) {
  .hero_section_title {
    font-size: 22px;
  }
  .hero_section_text {
    height: 100%;
    padding-top: 20px;
    margin: 6px;
  }
}
