.section__hero {
  background-image: url("../images/underconst.png") !important;
  /* background-image: url("../images/mammoth-image-dark-filter.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.hero_section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  justify-content: space-evenly;
  text-transform: uppercase;
  .hero_section_title {
    color: red;
  }
}

.vertical {
  display: flex;
  margin: 0 auto;
  writing-mode: vertical-rl;
  text-underline-position: auto;
  color: #000;
}
